/* RESET  */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* REGOLE GENERALI  */
:root {
      --color-primary: #0084FD;
      --color-primary-light: #B5DDFF;
      --color-secondary: #9792E4;
      --text-color: white;
      --border-radius: 23px
}

html {
      scroll-behavior: smooth;
}

body {
      font-family: 'PT Sans', sans-serif;
}

.container {
      max-width: 900px; 
      margin: 0 auto;
      padding: 0 1rem;
}

.flex {
      display: flex;
}

.space-between {
      justify-content: space-between;
}

.wrap {
      flex-wrap: wrap;
}

.grow {
      flex-grow: 1;
}

button {
      border-radius: var(--border-radius);
      border: none;
}

/* HEADER  */
header {
      background-color: var(--color-primary);
      position: sticky;
      top: 0;
      z-index: 10;
}

.side-header {
      align-items: center;
}

.logo {
      padding: 10px 0;
}

ul {
      list-style: none;
}

ul li {
      display: flex;
      justify-content: center;
      align-items: center;
}

ul li a {
      text-decoration: none;
      padding: 15px;
      color: var(--text-color);
      cursor: pointer;
}

nav button {
      padding: 8px;
      background-color: var(--text-color);
      font-size: 1rem;
}

nav button a {
      color: black;
}

.hamburger {
      display: none;
      color: var(--text-color);
}

/* MAIN  */
/* INTRO CARDS */
#intro .cards {
      margin: 1.5rem -0.5rem 3rem;
}

#intro .cards .card {
      width: calc((100% / 3) - 1rem);
      margin: 0.5rem;
      padding: 1.5rem 1.5rem 0;
      border-radius: var(--border-radius);
      font-weight: 700;
      background-color: var(--color-primary-light);
      text-align: center;
      line-height: 1.6rem;
}

#intro .cards .card:first-child {
      width: calc(((100% / 3) * 2) - 1rem);
      text-align: left;
}

#intro .cards .card:first-child div {
      width: 50%;
      align-items: flex-end;
} 

#intro .cards .card:first-child div img {
      width: 85%;
}

#intro .cards .card i {
      color: var(--color-primary);
      font-size: 60px;
      padding: 1rem;
}

#intro .cards .card h3 {
      color: var(--color-primary);
      padding-bottom: 1rem;
}

#intro .cards .card p {
      padding-bottom: 1.5rem;
}

#intro .cards .card button {
      padding: 10px 40px;
      font-weight: 700;
      color: var(--text-color);
      background-color: var(--color-primary);
      letter-spacing: 3px;
}

#intro .cards .card button i {
      color: var(--text-color);
      font-size: 1rem;
      padding: 0;
}

/* PLANNING */
#planning {
      background-color: var(--color-secondary);
      scroll-margin-top: 65px;
}

#planning .plan-row {
      max-width: 768px;
      margin: 0 auto;
      align-items: flex-end;
}

#planning .column {
      width: 47%;
      margin-bottom: 3rem;
}

#planning .column:first-child img {
      width: 100%;
      margin: 4rem 0;
}

#planning .column:first-child {
      color: var(--text-color);
}

#planning .column:first-child h2 {
      padding: 1rem 0 2rem;
}

#planning .column p {
      font-size: 0.8rem;
      line-height: 1.3rem;
}

#planning .column:last-child {
      padding: 2rem;
      justify-content: center;
      background-color: var(--text-color);
      border-radius: var(--border-radius);
}

#planning .column:last-child img {
      width: 80%;
}

#planning .column:last-child h3 {
      padding: 1rem;
}

#planning .column:last-child p {
      font-style: italic;
      padding-bottom: 1rem;
}

#planning .column:last-child .arrow-down {
      background-color: var(--color-secondary);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
}

/* TESTIMONIALS */
#testimonials {
      scroll-margin-top: 65px;
      margin-top: 3rem;
}

#testimonials .test-title {
      text-align: center;
      padding-bottom: 1rem;
}

#testimonials .test-title h2 {
      color: var(--color-secondary);
      font-size: 2.2rem;
      padding: 1.5rem;
}

#testimonials .card {
      background-color: var(--color-secondary);
      border-radius: var(--border-radius);
      margin: 1.5rem 0;
}

#testimonials .card .photo {
      padding: 1rem 1rem 2rem;
}

#testimonials .card .photo img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
}

#testimonials .card .quote {
      color: var(--text-color);
      align-items: center;
      padding: 1.2rem;
}

#testimonials .card .quote p {
      line-height: 1.8rem;
      padding-bottom: 1.3rem;
}

/* BENEFITS */
#benefits {
      scroll-margin-top: 65px;
      margin-top: 5rem;
      background-color: var(--color-secondary);
}

#benefits h2 {
      text-align: center;
      color: var(--text-color);
      font-size: 2rem;
      padding: 3rem;
}

#benefits .cards {
      margin: 0 -0.5rem 5rem;
      padding-bottom: 2rem;
}

#benefits .cards .card {
      width: calc((100% / 3) - 1rem);
      margin: 0.5rem;
      padding: 1.5rem;
      border-radius: var(--border-radius);
      background-color: var(--text-color);
}

#benefits .cards .card .number {
      color: var(--color-secondary);
      font-size: 3rem;
      font-weight: 700;
}

#benefits .cards .card h3 {
      color: var(--color-secondary);
      padding: 0.8rem 0 1rem;
}

#benefits .cards .card p {
      line-height: 1.3rem;
      font-size: 0.8rem;
      padding-bottom: 1rem;
}

#benefits .cards .card button {
      padding: 8px 25px;
      font-size: 0.7rem;
      font-weight: 700;
      color: var(--text-color);
      background-color: var(--color-secondary);
      letter-spacing: 3px;
}

/* ABOUT US */
#aboutus {
      scroll-margin-top: 65px;
      margin-bottom: 4rem;
}

#aboutus .column:first-child {
      width: 70%;
}

#aboutus .column:last-child {
      width: 30%;
      align-items: center;
      flex-direction: column;
}

#aboutus .column:first-child h2 {
      font-size: 3rem;
      color: var(--color-secondary);
}

#aboutus .column:first-child p {
      padding: 1.5rem 0;
      line-height: 1.8rem;
}

#aboutus .column .photo {
      position: relative;
}

#aboutus .column .photo img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
}

#aboutus .column .photo i {
      color: var(--color-secondary);
      position: absolute;
      top: 0;
      right: 0;
      font-size: 4rem;
}

#aboutus .column:last-child .text {
      color: var(--color-secondary);
      padding: 0 2rem;
      font-weight: 700;
}

#aboutus .column:last-child .text p {
      padding: 0.7rem 0;
      line-height: 1.5rem;
      font-size: 1.2rem;
}

#aboutus .column:last-child .text button {
      padding: 8px 16px;
      font-size: 0.7rem;
      color: var(--text-color);
      background-color: var(--color-secondary);
}

/* GETSTARTED */
#getstarted {
      background-color: var(--color-secondary);
}

#getstarted .container {
      max-width: 550px;
      text-align: center;
      padding: 3rem 1rem;
}

#getstarted .container div:first-child {
      color: #CFCDF2;
}

#getstarted .container h2 {
      color: #FDC15F;
      font-size: 5rem;
}

#getstarted .container h3 {
      color: var(--text-color);
      font-size: 2.5rem;
      padding: 1rem;
}

#getstarted .container p,
#getstarted .container div:last-child,
#getstarted .container div:last-child a {
      color: var(--text-color);
}

#getstarted .container p {
      padding: 1rem 0 2rem;
}

#getstarted .container div:last-child {
      font-size: 0.8rem;
}

#getstarted .container button {
      padding: 15px 50px;
      font-weight: 700;
      color: var(--color-secondary);
      background-color: var(--text-color);
      letter-spacing: 3px;
      margin-bottom: 2rem;
}

/* FOOTER */
footer {
background-color: #333333;
}

footer .container {
      max-width: 450px;
      text-align: center;
      font-size: 0.8rem;
      color: var(--text-color);
}

footer .container p {
      padding: 1.5rem 1rem;
}

footer .container a {
      color: var(--color-secondary);
}

/* RESPONSIVE */
/* From Desktop to Tablet */
@media screen and (max-width: 768px) {
      
      .side-header .hamburger {
            display: inline-block;
      }

      .side-header .ul-links {
            display: none;
      }

      #intro .cards .card:first-child div {
            width: 100%;
      }

      #intro .cards .card:first-child div img {
            width: 70%;
            margin-top: 2rem;
      }

      #planning .column {
            width: 100%;
      }

      #planning .column:first-child {
            margin-bottom: 1.5rem;
      }

      #planning .column:first-child img {
            padding: 1rem;
      }

      #planning .column:first-child h2 {
            font-size: 2.5rem;
      }

      #benefits .cards .card {
            width: calc(50% - 1rem);
      }

      #aboutus .container {
            justify-content: space-around;
      }

      #aboutus .column:first-child {
            width: 50%;
      }

      #aboutus .column:last-child {
            width: 40%;
            align-items: center;
            flex-direction: column;
      }
}

/* From Tablet to Mobile */
@media screen and (max-width: 426px) {

      .container {
            width: 100%;
      }

      #intro .cards .card, #intro .cards .card:first-child {
            width: 100%;
      }

      #intro .cards .card:first-child div img {
            width: 90%;
            margin: 2rem auto 0;
      }

      #planning .column {
            width: 100%;
      }

      #planning .column:first-child h2 {
            font-size: 24px;
      }

      #testimonials .card {
            flex-wrap: wrap;
            justify-content: center;
      }

      #testimonials .card .photo {
            padding-bottom: 0;
      }

      #testimonials .card .quote {
            text-align: center;
      }

      #benefits .cards .card {
            width: 100%;
      }

      #aboutus .column:first-child,
      #aboutus .column:last-child {
            width: 95%;
      }

      #aboutus .column:last-child {
            align-items: flex-start;
            padding-top: 1.8rem;
      }

      #aboutus .column:last-child .text {
            padding: 0;
      }
}

/* DEBUG  */
      .border {
            border: 2px dashed black;
      }

      .box {
            background-color: aquamarine;
      }

      .box2 {
            background-color: yellow;
      }
/* 
      .debug {
            padding: 5px 10px;
      } */